*{ 
  margin:0;
  padding:0;
}
body {
  background-image:url(../images/adminBg.jpg);
  background-size:cover;
  width:100%;
  height:100%;

}


ul,li, nav,a{margin:0;padding:0;list-style:none;}
a{text-decoration:none; font-family:helvetica; }

header {
  background-color:#3b354d;
  color:white !important;
  height:80px;
  line-height: 40px;

}

table {
  text-align: center !important;
  margin-left:auto;
  margin-right:auto;
} 
table.center {
  margin-left:auto; 
  margin-right:auto;
}
td, th {
  text-align: center;
  padding: 8px;


}

input {
  padding:10px;
  border-bottom:2px solid #3b354d;
  height:50px;
  width:90%;
  font-size:1em;
  border-top:0px;
  border-left:0px;
  background-color:#3b354d;
  color:white;
}
button {
  background-color:#ffc107;
  border:#ffc107;
  color:white;
  height:35px;
  width:200px;
}
th {
  width:5%;
  border:2px solid white;
}

tr:nth-child(even) {
  background-color: #3b354d;
  color:white;

}
tr:nth-child(odd){
  color: white;
  background-color: #3b354d;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
tr:hover {
  color:orange;
}
header #logouttext {
  color:white;
  text-align:center !important;
  margin-left:35px;
}
header #logouttext:hover {
  color:orange;
}
header h1{text-align:center;font-size:2em;border-bottom:5px solid #222; padding:.22em; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background-color:#3b354d;color:;}
#vertical-menu{
  margin-top:5px;
  display:inline-block;
  border-radius:5px;
  box-sizing:border-box;
  padding-left:10px;
  background:orange;

}
.main-menu {
 display:inline-block;
 width:100%;
 box-sizing:border-box;

}
.main-menu li{
  position:relative;
  height:50px;
  box-shadow:0 -1px 0 0 #444, 0 -2px 0 0 #222;
}
.main-menu>li>a>i{
  color:white;
  width:2em;
  height:100%;
  line-height:50px;
  text-align:left; 
}
.main-menu>li:first-child, .submenu-1>li:first-child, .submenu-2>li:first-child, .submenu-3>li:first-child{
  box-shadow:none;
}
.main-menu>li:first-child>a, .submenu-1>li:first-child>a, .submenu-2>li:first-child>a, .submenu-3>li:first-child>a{
 border-top-left-radius:5px;
 border-top-right-radius:5px;
}
.main-menu>li:last-child>a, .submenu-1>li:last-child>a, .submenu-2>li:last-child>a, .submenu-3>li:last-child>a{
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}

.main-menu>li>a, .submenu-1>li>a, .submenu-2>li>a,.submenu-3>li>a{
  color:white;
  background:#3b354d;
  line-height:50px;
  display:block;
  padding:0 1em;

}

.submenu-1,.submenu-2, .submenu-3{
  position:absolute;
  white-space:nowrap;
  top:-9999px;
}
.contain-submenu>a:first-child::after{
  content:" \f054";
  padding-left:1em;
  font-family:'FontAwesome';
}
/* revealing submenus */
li:hover .submenu-1, .submenu-1>li:hover .submenu-2, .submenu-2>li:hover .submenu-3{
  top:0;
  left:100%;
  transition: top .5s cubic-bezier(0.380,0.820,.790,.930);
  
}

.main-menu>li:hover>a{
  color:orange;
}
.submenu-1 li:hover>a{
  color:orange;
}
.submenu-2 li:hover>a{
  color:orange;
}
.submenu-3 li:hover>a{
  color:orange;  
}
form {
  max-height: 70%;
  max-width: 50%;
  height: auto;
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
  text-align:center;
  background-color:rgba(56, 51, 71, 0.555);
}
/* Author */
article{
  text-align:left;

}
article p{
  font-size:1.2em;
  color:orange;
}
h3 {
  color:white;
}
span {
  color:white;
}
.modal-body {
  text-align: center;
  color:white;
  background-color:rgba(56, 51, 71, 0.555);
}

