.profile-background {
    background-image: linear-gradient(to right bottom, rgba(126, 121, 143, 0.2), rgba(140, 137, 156, 0.6)), url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.profilePic {
    width: 350px;
    margin-top: 140px;
    position: relative;
    z-index: 2;
}

.profile-username {
    font-size: 28pt;
    font-weight: bold;
    color: white;
    margin-top: 230px;
}

.profile-age {
    font-size: 12pt;
    font-weight: bold;
    color: white;
    float: left;
}

.profile-city {
    float: left;
    margin-left: 20px;
    font-size: 12pt;
    color: white;
    font-weight: bold;
}

.profile-city::before {
    content: "\2022";
    color: gray;
    font-weight: bold;
    display: inline-block;
    width: 0.8em;
    margin-left: -0.8em;
}

.whitespace {
    height: 50px;
    padding-top: 4px;
}

.profile-title {
    color: black;
    font-weight: 600;
    line-height: 75px;
    margin-left: 10px;
}

.grayspace {
    background-color: lightgray;
    height: 700px;
}

.grayspace2 {
    background-color: lightgray;
    height: 850px;
}

.grayspace3 {
    background-color: lightgray;
}

.profile-information {
    padding-top: 50px;
}

.profile-information::after {
    content: '';
    display: block;
    height: 2px;
    margin-top: 10px;
    border-left: 120px orange solid;
    background-color: rgba(0, 0, 0, 0.08);
}

.profile-information2 {
    padding-top: 10px;
}

.profile-information2::after {
    content: '';
    display: block;
    height: 2px;
    margin-top: 10px;
    border-left: 120px orange solid;
    background-color: rgba(0, 0, 0, 0.08);
}

.profile-input {
    margin-top: 20px;
    background-color: silver;
    height: 50px;
}

.profile-info {
    display: inline-block;
    line-height: 50px;
}

.profile-info2 {
    line-height: 50px;
    display: inline-block;
}

.profile-input2 {
    height: 50px;
}

.profile-input3 {
    background-color: silver;
    height: 50px;
}

.profile-input4 {
    background-color: silver;
    height: 50px;
    margin-top: 20px;
}

.new-members {
    background-color: white;
    margin-right: 100px;
    height: 450px;
    float: right;
}

.newmember-photo {
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 20px;
}

.newmember-photo2 {
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 40px;
}

.newmember-name {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.newmember-name2 {
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}

#pills-home-tab {
    color: black;
}

#pills-profile-tab {
    color: black;
}

#pills-contact-tab {
    color: black;
}

.edit-input {
    margin-top: 10px;
    width: 300px;
}

.radio {
    margin-top: 20px;
    margin-left: 5px;
}

.checkbox {
    margin-top: 20px;
    margin-left: 5px;
}

.submit-button {
    margin-top: 50px;
    background-color: orange;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 100px;
}

.submit-button2 {
    margin-top: 50px;
    background-color: #ff6060;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 140px;
}

.submit-button3 {
    margin-top: 50px;
    background-color: orange;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #007bff;
}

.submit-button2:hover {
    background-color: red;
}

.submit-button3:hover {
    background-color: #007bff;
}

.house-pic {
    cursor: pointer;
    margin-top: 30px;
}

.house-image {
    width: 320px;
    margin: 30px;
}

@media only screen and (max-width:1250px) {
    .house-image {
        width: 280px;
    }
}

@media only screen and (max-width:1050px) {
    .house-image {
        width: 250px;
    }
}

@media only screen and (max-width:835px) {
    .house-image {
        width: 220px;
    }
}

@media only screen and (max-width:768px) {
    .house-image {
        width: 200px;
    }
}

@media only screen and (max-width:750px) {
    .house-image {
        width: 70%;
    }
    .lastimg {
        margin-bottom: 50px;
    }
}