* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

nav {
    width: 100%;
    background-color: #3b354d;
    display: block;
}

.logo {
    margin-top: -10px;
}

.nav {
    line-height: 50px;
    text-align: center !important;
}

.nav .nav-link {
    color: rgb(255, 255, 255);
}

.nav .nav-link:hover {
    color: orange;
}

.btn {
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.btn-warning:hover {
    color: rgb(255, 255, 255);
}

.btn-primary {
    margin-right: 20px;
}

.section-1 {
    background: linear-gradient(to right bottom, rgba(126, 121, 143, 0.8), rgba(140, 137, 156, 0.8)), url(../images/roberto-nickson-g-772172-unsplash.jpg);
    background-size: cover;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-top: 30px;
    margin-right: 5%;
}

.center-bg-text {
    position: absolute;
    top: 20vh;
}

.center-bg-text .btn-primary {
    margin-left: 3%;
}

form {
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 30px;
    margin-left: 5%;
    width: 80%;
    background-color: rgba(56, 51, 71, 0.555);
    border-radius: 10px;
}

.form-control {
    background-color: rgb(59, 53, 77) !important;
    margin-top: 10px;
    color: white;
    border: none;
    height: 50px;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    color: white;
}

.btn-section1 {
    margin-bottom: 30px;
}

.bg-black-text {
    text-align: center;
    margin-top: 30px;
}

.img-thumbnail {
    margin-left: 10px;
    margin-top: 30px;
}

.btn-section2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section3 .row .btn-primary {
    margin-top: 30px;
}

.img-section-3 {
    background-image: url(../images/baim-hanif-89800-unsplash.jpg);
    background-size: cover;
    padding: 100px;
    /* Create the parallax scrolling effect */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 {
    background-color: rgb(243, 157, 54);
    padding: 50px;
}

.small-icon {
    width: 150px;
}

.bg-text-section3 {
    color: white;
    margin-top: 30px;
}

footer {
    background-color: #3b354d;
}

footer .nav {
    margin-top: 10px;
}

.social {
    margin: 10px;
}

.copyright {
    color: white;
    margin-top: 50px;
}


/* modal style */

.modal-content {
    border: none;
    background: none;
}


/* contact css */

.contact {
    background: linear-gradient(to right bottom, rgba(126, 121, 143, 0.479), rgba(140, 137, 156, 0.356)), url(../images/quino-al-293094-unsplash.jpg);
    background-size: cover;
    height: 95vh;
}

.becameMember {
    width: 500px;
}