* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

nav {
    width: 100%;
    background-color: #3b354d;
    display: block;
}

.logo {
    margin-top: -10px;
}

.nav {
    line-height: 50px;
    text-align: center !important;
}

.nav .nav-link {
    color: rgb(255, 255, 255);
    padding-bottom: 0;
}

.nav .nav-link:hover {
    color: orange;
    border-bottom: 2px solid orange;
    display: inline-block;
}

.btn {
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.btn-warning:hover {
    color: rgb(255, 255, 255);
}

.btn-primary {
    margin-right: 20px;
}

.section-1 {
    background: linear-gradient(to right bottom, rgba(126, 121, 143, 0.8), rgba(140, 137, 156, 0.8)), url(../images/roberto-nickson-g-772172-unsplash.jpg);
    background-size: cover;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-top: 30px;
    margin-right: 5%;
}

.center-bg-text {
    position: absolute;
    top: 20vh;
}

.center-bg-text .btn-primary {
    margin-left: 3%;
}

.ask-us {
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 30px;
    width: 90%;
    background-color: rgba(56, 51, 71, 0.555);
    border-radius: 10px;
}

.form-control {
    background-color: rgb(59, 53, 77) !important;
    margin-top: 10px;
    color: white;
    border: none;
    height: 50px;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    color: white;
}

.btn-section1 {
    margin-bottom: 30px;
}

.bg-black-text {
    text-align: center;
    margin-top: 30px;
}

.img-thumbnail {
    margin-left: 10px;
    margin-top: 30px;
}

.btn-section2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section3 .row .btn-primary {
    margin-top: 30px;
}

.img-section-3 {
    background-image: url(../images/baim-hanif-89800-unsplash.jpg);
    background-size: cover;
    padding: 100px;
    /* Create the parallax scrolling effect */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 {
    background-color: rgba(56, 51, 71, 0.966);
    padding: 50px;
}

.fix-align {
    background-color: rgba(56, 51, 71, 0.589);
    margin-right: -5%;
    padding: 10px;
}

.shadow-drop-2-center {
    animation: shadow-drop-2-center .4s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 0 0 transparent
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
    }
}

.small-icon-2 {
    width: 150px;
    margin-left: 5%;
}

.small-icon {
    width: 300px;
    margin-left: 20%;
}

.bg-text-section3 {
    color: white;
    margin-top: 50px;
}

.section5 {
    background-color: orange;
}

.section-5-img {
    padding: 50px;
}

.section-5-ul {
    list-style: none;
    color: white;
}

.section-5-li {
    margin-top: 10px;
}

.section-5-ul .section-5-li:before {
    content: '✓ ';
    color: white;
}

footer {
    background-color: #3b354d;
}

footer .nav {
    margin-top: 10px;
}

.social {
    margin: 10px;
}

.copyright {
    color: white;
    margin-top: 50px;
}


/* modal style */

.modal-content {
    border: none;
    background: none;
}

.becameMember {
    width: 100% !important;
}

.forgot-pass {
    color: white;
}

.forgot-pass:hover {
    text-decoration: none;
    color: orange;
}


/* contact css */

.contact {
    background: linear-gradient(to right bottom, rgb(41, 35, 59), rgba(41, 35, 59, 0.76));
    border-top: 2px solid rgb(41, 35, 59);
}

.contact-form {
    background-color: rgba(41, 35, 59, 0.479);
    width: 80%;
    padding: 60px;
    border-radius: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    border-radius: 10px;
    animation: shadow-drop-2-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.contact-form-group {
    margin-top: 50px;
}

.contact .row .contact-form .form-control {
    background-color: rgba(54, 47, 77, 0.664) !important;
}

.contact-h1 {
    color: white;
    text-align: center;
}

.contact-text {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.map {
    width: 100%;
}

.fix-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn-contact-send {
    margin-top: 50px;
    height: 70px;
}

.about-us {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.651), rgba(31, 31, 31, 0.274)), url(../images/rawpixel-653764-unsplash.jpg);
    padding: 100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.about-us-logo {
    margin-top: 20vh;
    margin-bottom: 30px;
}

.about-us-btn {
    text-align: center;
    margin: 0 auto !important;
}

.about-us-section1 {
    background-image: linear-gradient(to right bottom, rgba(255, 166, 0, 0.932), rgba(255, 68, 0, 0.815)), url(../images/diogo-nunes-1329551-unsplash.jpg);
    background-color: orange;
    padding: 50px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-align-text {
    margin-top: 10%;
}

.contact-us-girl {
    opacity: 0.8;
}

.about-us-text,
.about-us-h1 {
    color: white;
}

.about-us-section2 {
    padding: 50px;
}

.about-us-s2-h3 {
    padding-bottom: 50px;
}

.about-us-team {
    width: 60%;
    border-radius: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.team-box {
    padding: 2px 16px;
}

.about-us-fix-card-align {
    margin-right: -5%;
}

.explore-container {
    background-color: #F0EBEB;
}

.explore-form {
    background-color: rgba(41, 35, 59, 0.479);
    padding: 30px;
    margin-left: 20px;
    border-radius: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    animation: shadow-drop-2-center .4s cubic-bezier(.25, .46, .45, .94) both
}

.explore-search {
    margin-top: 50px;
    display: block;
}

.search .fa-search {
    position: absolute;
    top: 70px;
    left: 80%;
    font-size: 15px;
    color: white;
}

.explore-filters-text {
    color: white;
}